
/*clearfix and borderbox*/

* {
   box-sizing: border-box;
   margin:0;
   padding:0;
}

html {
   font-family: 'Spartan', sans-serif;
}

#body {
   background-repeat: no-repeat; 
   background-position: center;
   background-size: cover;
   min-height: 100vh;
}

#main{
   display:flex;
   justify-content: center;
   align-items: center;
   flex-flow: column wrap;
   height: 100vh;
   width: 100%;
}

#wrapper {
   
   height:66%;
   width: 100%;
   position:relative;
}

#headline {
   color:black;
   text-align:center;
   margin: 50px auto 0;
   font-size: 28px;
}

#input-section {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow:row wrap;
}

#input-div {
   margin: 50px auto 0;
}

#input-temp, 
#input-temp-scale, 
#convert-btn {
   border-radius: 0px;
   border: 1px solid gray;
   height:30px;
   text-align: center;
   margin:5px 5px;
   font-size:14px;
   font-family: 'Spartan', sans-serif;
   background-color: white;
}

::-webkit-input-placeholder { /* Edge */
   color: black;
   font-size:14px;
 }
 
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: black;
   font-size:14px;
 }
 
::placeholder {
   color: black;
   font-size:14px;
 }

#button-div {
   margin: 20px;
   width:100%;
   display:flex;
   justify-content: center;
}

#convert-btn {
   padding: 7px;
   background-color:white;
   color:black;
}

#convert-btn:hover {
   transform: scale(1.1);
   background-color:gainsboro;
}

#results{
   display:flex;
   justify-content: center;
   align-items: center;
   flex-flow: row wrap;
   margin: 40px auto 0;
}

.result-div {
   width:100%;
   text-align:center;
   margin: 20px auto 0;
}

.result-text {
   font-size:24px;
}

#copyright {
   position:absolute;
   bottom: 0;
   right: 0;
   color:black;
   font-size: 12px;
   font-weight: 400;
   padding: 0 3px 3px 0;
}


/* Tablet Styles */

@media screen and (min-width: 768px){
   
   #headline {
      font-size: 40px;
   }

   #input-temp, 
   #input-temp-scale, 
   #convert {
      
      height:35px;
      text-align: center;
      margin:5px 5px;
      font-size:20px;
      padding: 0 5px;
   }

   ::-webkit-input-placeholder { /* Edge */
      
      font-size:20px;
    }
    
   :-ms-input-placeholder { /* Internet Explorer 10-11 */
     
      font-size:20px;
    }
    
   ::placeholder {
      
      font-size:20px;
    }
   
    .result-text {
      font-size:32px;
   }
}