
/*clearfix and borderbox*/

* {
   box-sizing: border-box;
   margin:0;
   padding:0;
}

html {
   font-family: 'Spartan', sans-serif;
   color:rgb(38, 38, 38);
}

#body {
   background-repeat: no-repeat; 
   background-position: center;
   background-size: cover;
   min-height: 100vh;
}

#main{
   display:flex;
   justify-content: center;
   align-items: center;
   flex-flow: column wrap;
   min-height: 100vh;
   width: 100%;
}

#wrapper {
   height:66%;
   width: 100%;
   position:relative;
   display:flex;
   align-items: center;
}

#content {
   margin: auto;
   width:90%;
   /* background-color:rgb(255, 255, 255, 0.15); */
}

#headline {
   text-align:center;
   margin: 50px auto 0;
   font-size: 26px;
}

#input-section {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-flow:row wrap;
   width:100%;
}

#input-div {
   margin: 50px auto 0;
   width:100%;
   display:flex;
   justify-content: space-between;
}

#input-temp, 
#input-temp-scale {
   border-radius: 0px;
   border: 1px solid gray;
   height:30px;
   margin:5px 0;
   padding-left:5px;
   font-size:12px;
   font-family: 'Spartan', sans-serif;
   background-color: white;
   width:48%;
   color:rgb(38, 38, 38);
}

::-webkit-input-placeholder { /* Edge */
   color:rgb(38, 38, 38);
   font-size:12px;

 }
 
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:rgb(38, 38, 38);
   font-size:12px;

 }
 
::placeholder {
   color:rgb(38, 38, 38);
   font-size:12px;

 }

.button {
   background-color:rgb(255, 255, 255, 0.5);
   border-radius: 0px;
   border: 1px solid gray;
   color:rgb(38, 38, 38);
   width:100%;
   margin: 20px 0px;
   height:35px;
   font-size:14px;
   font-family: 'Spartan', sans-serif;
}

#clear-btn {
   margin: 40px 0;
}

#convert-btn:hover, 
#clear-btn:hover {
   font-weight:700;
   background-color:rgb(255, 255, 255);
}

#results{
   display:flex;
   justify-content: center;
   align-items: center;
   flex-flow: row wrap;
   margin: 20px auto ;
}

.result-div {
   width:100%;
   text-align:center;
   margin: 20px auto 0;
}

.result-text {
   font-size:20px;
}

#copyright {
   position:absolute;
   bottom: 0;
   right: 0;
   font-size: 12px;
   font-weight: 700;
   padding: 0 3px 3px 0;
}


/* Tablet Styles */

@media screen and (min-width: 600px){
   
   #headline {
      font-size: 36px;
   }

   #content {
      width:66%;
      /* background-color:rgb(255, 255, 255, 0.15); */
   }

   #input-temp, 
   #input-temp-scale, 
   #convert {
      height:35px;
      margin:5px 0;
      font-size:18px;
   }

   ::-webkit-input-placeholder { /* Edge */
      
      font-size:18px;
    }
    
   :-ms-input-placeholder { /* Internet Explorer 10-11 */
     
      font-size:18px;
    }
    
   ::placeholder {
   
      font-size:18px;
    }
   
    .result-text {
      font-size:24px;
   }

   #copyright {
      font-size: 16px;
   }
}


/* Tablet in landscape */

@media all and (min-width: 600px) and (orientation:landscape) {
   #body {
      height: auto;
      min-height: 100%;
   }

   #container {
      height:100%;
   }

   #wrapper {
      height:80%;    
   }

   #content {
      width:60%
   }
}


/*Larger Tablets in portrait*/

@media screen and (min-width: 992px){
   #content {
      width:50%
   }
}

/* Large Tablets in landscape and Desktops/Laptops */

@media screen and (min-width: 1200px){

   #content {
      width:35%
   }

}

